html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.site-footer {
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  padding: 1rem 0;
}
